body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    color:brown;
    text-align: center;
  }

  h1 {
    color: brown;
    font-size: 30px;

  }

  h2 {
    font-size: 25px;
  }

  h3 {
    color:slategrey;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
  }

  #artistTitleId {
    color: slategray;
    font-size: 20px;
    font-weight:lighter
}

  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  img {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}
  
  .artwork-info {
    font-size: 16px;
  }
  
  .artwork-info p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .error-message {
    color: red;
  }