body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    color:brown;
    text-align: center;
  }

  h1 {
    color: brown;
    font-size: 30px;

  }

  h2 {
    font-size: 25px;
  }

  h3 {
    color:slategrey;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
  }

  #artistTitleId {
    color: slategray;
    font-size: 20px;
    font-weight:lighter
}

.artistDates {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px; 
}
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  img {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}
  
  .artwork-info {
    font-size: 16px;
  }
  
  .artwork-info p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .error-message {
    color: red;
  }

  #reloadButton {
    background-color: brown; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block; /* Change display to block */
    font-size: 16px;
    margin: 20px auto; /* Set top and bottom margin to 20px, and left and right margins to auto */
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}


#reloadButton:hover {
    background-color: slategray 
}

/* Media query for small devices (e.g., phones) */
@media only screen and (max-width: 600px) {
    #reloadButton {
        padding: 8px 16px;
        font-size: 14px;
    }

    /* Adjust other styles for small devices */
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    #artistTitleId {
        font-size: 18px;
    }

    .artistDates {
        font-size: 14px;
    }

    .container {
        max-width: 100%; /* Adjust container width */
        padding: 10px; /* Adjust padding */
    }

    img {
        max-width: 100%; /* Adjust image width */
        margin-bottom: 10px; /* Adjust margin */
    }

    .artwork-info {
        font-size: 14px;
    }

    .error-message {
        font-size: 14px;
    }
}

/* Media query for tablets and larger devices */
@media only screen and (min-width: 601px) {
    #reloadButton {
        padding: 10px 20px;
        font-size: 16px;
    }
}